 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>HelloMac</string>
    <key>CFBundleDisplayName</key>
    <string>HelloMac</string>
    <key>CFBundleIdentifier</key>
    <string>com.hellomac.telephone</string>
    <key>CFBundleVersion</key>
    <string>2.1.1</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.1/string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSUIElement</key>
    <false/>
    <key>CFBundleDevelopmentRegion</key>
    <string>el</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>el</string>
        <string>en</string>
    </array>
</dict>
</plist>
